:root{
    --main-color: rgb(6, 57, 108);
    --text-color: rgb(108, 117, 126);
    --title-font: 'Electrolize', sans-serif;
    --text-font: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 12000px;
}

p{
    font-weight: 500;
}

/* Header */
.bg-header{
    background-image: url(./media/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-header-filter{
    background-color: rgba(6, 57, 108, 0.7);
    height: 100%;
}

.header-title{
    color: white;
    font-size: 120px;
    font-weight: 600;
    font-family: var(--title-font);
    text-align: center;
    padding-top: 40vh;
    margin: 0px;
}

/* Navbar */
.custom-navbar{
    background-color: var(--main-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.navbar-section-1{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.navbar-section-2{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.custom-navbar-logo{
    height: 40px;
}

.custom-navbar-link{
    color: white;
    font-size: 16px;
    font-family: var(--text-font);
    margin: 0px 0px 0px 20px;
    border-left: 2px solid white;
    padding-left: 20px;
}

/* Section 1 */
.custom-container-section-1{
    margin: 100px 60px 140px 60px;
}

.title-section-1{
    font-size: 80px;
    font-family: var(--title-font);
    margin: 0px;
    padding-bottom: 30px;
}

.quote-style-section-1{
    position: absolute;
    font-size: 35px;
    color: var(--main-color);
    top: -25px;
    left: -35px;
    transform: rotate(20deg);
}

.quote-paragraph-section-1{
    position: relative;
    font-size: 18px;
    margin: 0px 20px;
    font-family: var(--text-font);
    color: var(--text-color);
}

.secondary-paragraph-section-1{
    margin: 50px 20px 0px 20px;
}

.secondary-title-paragraph-section-1{
    font-family: var(--text-font);
    font-weight: 800;
    font-size: 18px;
    color: var(--main-color);
    margin: 0px;
}

.secondary-subtitle-paragraph-section-1{
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}

/* Section 2 */
.custom-container-section-2{
    background-image: url(./media/power-plant-4712830_1280.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    z-index: 0;
}

.bg-filter-section-2{
    height: 100%;
    background-color: rgba(6, 57, 108, 0.5);
}

.custom-row-section-2{
    height: 100%;
    padding: 120px 60px;
    margin: 0px !important;
}

.title-section-2{
    font-size: 90px;
    font-family: var(--title-font);
    color: white;
    margin: 10px 0px 0px 0px;
}

.card-section-2{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-card-section-2{
    font-size: 50px;
}

.number-card-section-2{
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 40px;
    margin: 15px 0px 0px 0px;
}

.title-card-section-2{
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}

/* Section 3 */
.left-article-section-3{
    position: relative;
    top: -80px;
    left: 60px;
    width: 100%;
    z-index: 1;
    padding: 60px 80px;
    background-color: var(--main-color);
    color: white;
    border: 3px solid white;
    overflow: hidden;
}

.right-article-section-3{
    position: relative;
    z-index: 2;
    padding: 60px 80px;
    background-color: white;
    color: black;
}

.title-article-section-3{
    font-size: 40px;
    font-family: var(--title-font);
}

.paragraph-article-section-3{
    font-size: 18px;
    font-family: var(--text-font);
    margin: 80px 0px;
}

/* Section 4 */
.custom-container-section-4{
    padding: 30px 60px 60px 60px;
    /* background-color: rgba(255, 166, 0, 0.3); */
}

.title-section-4{
    color: var(--main-color);
    font-family: var(--title-font);
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.paragraph-section-4{
    font-size: 18px;
    font-family: var(--text-font);
    color: var(--text-color);
}

.button-section-4{
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 40px;
    align-items: center;
    margin-top: 30px;
}

/* Section 5 */
.custom-container-section-5{
    padding: 60px;
    /* background-color: rgba(255, 166, 0, 0.3); */
}

.title-section-5{
    font-size: 40px;
    font-family: var(--title-font);
    color: var(--main-color);
    font-weight: 600;
    margin-bottom: 50px;
}

.paragraph-section-5{
    font-size: 18px;
    font-family: var(--text-font);
    color: var(--text-color);
}

/* Section 6 */
.custom-container-section-6{
    padding: 80px 180px 60px 180px;
}

.card-section-6{
    background: url("https://picsum.photos/900");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    position: relative;
    width: 380px;
    height: 140px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.filter-card-section-6{
    position: absolute;
    background: linear-gradient(90deg, rgb(6, 57, 108, 0.50), rgba(255, 255, 255, 0) 50%);
    width: 100%;
    height: 100%;
    top: -20px;
    left: -30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px 0px 40px;
}

.first-title-card-section-6{
    font-family: var(--text-font);
    margin: 0px;
}

.main-title-card-section-6{
    font-family: var(--title-font);
    font-size: 30px;
    margin: 10px 0px;
}

.last-title-card-section-6{
    font-family: var(--text-font);
    margin: 0px;
}

/* Section 7 */
.custom-container-section-7{
    height: 800px;
    padding: 0px 180px;
    background: linear-gradient(180deg, var(--main-color) 42%, white 42%);
}

.title-section-7{
    color: white;
    font-family: var(--title-font);
    margin: 100px 0px 0px 0px;
    font-size: 60px;
    text-align: center;
}

.custom-row-section-7{
    padding-top: 70px;
    margin: 0px !important;
}

.card-section-7{
    position: relative;
    height: 210px;
    width: 480px;
    color: white;
    margin: 20px 0px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.15);
}

.image-card-section-7{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    left: 0px;
}

.filter-card-section-7{
    background: linear-gradient(180deg, rgb(6, 57, 108, 0.1) 0%, rgb(6, 57, 108, 0.85) 60%);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
}

.content-card-section-7{
    position: relative;
    z-index: 2;
    margin-left: 15px;
}

.first-title-card-section-7{
    text-align: end;
    padding: 10px 20px 0px 0px;
    font-family: var(--text-font);
    font-weight: 400;
}

.icon-card-section-7{
    font-size: 40px;
    margin: 10px 0px 20px 0px;
}

.last-title-card-section-7{
    font-family: var(--title-font);
    font-size: 40px;
    margin: 0px;
}

/* Section 8 */
.custom-container-section-8{
    padding: 120px 120px 20px 120px;
}

.title-section-8{
    font-size: 48px;
    font-weight: 600;
    font-family: var(--title-font);
    color: var(--main-color);
    text-align: center;
    margin: 0px 0px 60px 0px;
}

.card-section-8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.first-title-card-section-8{
    font-size: 40px;
    font-family: var(--title-font);
    color: var(--main-color);
    margin: 0px 0px 10px 0px;
}

.last-title-card-section-8{
    font-size: 24px;
    font-family: var(--text-font);
    color: var(--text-color);
    margin: 0px;
}

.icon-card-section-8{
    font-size: 50px;
    color: var(--text-color);
    margin: 60px 0px 0px 0px;
}































/* Media Query Extra Large Screen "XL" */
@media screen and (min-width: 1199px){
    /* Section 6 */
    .card-section-6{
        width: 460px;
        height: 180px;
    }
}

/* Media Query Extra Large Screen "XXL" */
@media screen and (min-width: 1399px){
    /* Section 6 */
    .card-section-6{
        width: 520px;
        height: 210px;
    }
}

/* Media Query Extra Large Screen "XXXL" */
@media screen and (max-width: 1599px){
    /* Section 6 */
    .custom-container-section-6{
        padding: 80px 60px 60px 60px;
    }

    /* Section 7 */
    .custom-container-section-7{
        padding: 0px 120px;
    }
}

/* Media Query Extra Large Screen "XXL" */
@media screen and (max-width: 1399px){
    /* Section 7 */
    .custom-container-section-7{
        padding: 0px 160px;
    }

    /* Section 8 */
    .custom-container-section-8{
        padding: 320px 120px 20px 120px;
    }
}

/* Media Query Extra Large Screen "XL" */
@media screen and (max-width: 1199px){
    /* Section 6 */
    .custom-container-section-6{
        padding: 80px 20px 60px 20px;
    }
    
    /* Section 7 */
    .custom-container-section-7{
        height: 1000px;
        padding: 0px 120px;
        background: linear-gradient(180deg, var(--main-color) 34%, white 34%);
    }

    /* Section 8 */
    .custom-container-section-8{
        padding: 120px 240px 20px 240px;
    }

    .card-section-8{
        margin: 20px 0px;
    }
}

/* Media Query Large Screen "LG" */
@media screen and (max-width: 991px){
    /* Section 1 */
    .custom-container-section-1{
        margin: 100px 60px;
    }
    .secondary-paragraph-section-1{
        margin: 10px 20px 60px 20px;
    }

    /* Section 2 */
    .custom-container-section-2{
        height: 800px;
    }

    .title-section-2{
        text-align: center;
        margin: 0px 0px 30px 0px;
    }

    .card-section-2{
        margin: 30px 0px;
    }

    /* Section 3 */
    .custom-container-section-3{
        margin: 0px 30px;
    }

    .left-article-section-3{
        position: relative;
        top: -80px;
        left: 0px;
    }

    .right-article-section-3{
        position: relative;
        top: -60px;
        padding-bottom: 0px;
        border: 3px solid var(--main-color);
    }

    /* Section 6 */
    .card-section-6{
        width: 520px;
        height: 210px;
    }

    /* Section 7 */
    .custom-container-section-7{
        padding: 0px;
        height: 1680px;
        background: linear-gradient(180deg, var(--main-color) 20%, white 20%);
    }

    /* Section 8 */
    .custom-container-section-8{
        padding: 210px 180px 20px 180px;
    }
}

/* Media Query Medium Screen "MD" */
@media screen and (max-width: 767px){
    /* Section 1 */
    .custom-navbar{
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar-section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .navbar-section-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0px 0px 0px;
    }

    .custom-navbar-logo{
        height: 50px;
    }

    .custom-navbar-link{
        border: none;
        margin: 5px 0px;
        padding: 0px;
    }

    /* Section 2 */
    .custom-container-section-2{
        height: 1200px;
    }

    .title-section-2{
        font-size: 60px;
        margin: 0px;
    }

    /* Section 6 */
    .card-section-6{
        width: 460px;
        height: 180px;
    }

    /* Section 8 */
    .custom-container-section-8{
        padding: 210px 110px 20px 110px;
    }
}

/* Media Query Small Screen "SM" */
@media screen and (max-width : 575px){
    /* Section 1 */
    .custom-container-section-1{
        margin: 100px 40px;
    }

    .title-section-1{
        font-size: 50px;
        padding-bottom: 10px;
    }

    .quote-paragraph-section-1{
        margin: 0px;
    }

    .secondary-paragraph-section-1{
        margin: 10px 0px 60px 0px;
    }

    /* Section 4 */
    .paragraph-section-4{
        text-align: center;
    }

    /* Section 4 */
    .title-section-4{
        text-align: center;
    }

    /* Section 5 */
    .title-section-5{
        text-align: center;
    }

    /* Section 6 */
    .card-section-6{
        width: 380px;
        height: 120px;
    }

    .custom-container-section-6{
        padding: 40px 30px 60px 30px;
    }

    /* Section 7 */
    .title-section-7{
        font-size: 40px;
        margin: 120px 0px 0px 0px;
    }

    /* Section 8 */
    .custom-container-section-8{
        padding: 180px 20px 20px 20px;
    }

    .title-section-8{
        font-size: 32px;
        margin: 0px 0px 40px 0px;
    }
}