:root{
    --main-color: rgb(6, 57, 108);
    --title-font: 'Electrolize', sans-serif;
    --text-font: 'Lato', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 4000px;
    background-color: rgba(255, 166, 0, 0.15) !important;
}

/* Header */
.bg-header{
    background-image: url(./media/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.bg-header-filter{
    background-color: rgba(6, 57, 108, 0.7);
    height: 100%;
}

.header-title{
    color: white;
    font-size: 120px;
    font-weight: 600;
    font-family: var(--title-font);
    text-align: center;
    padding-top: 40vh;
    margin: 0px;
}

/* Navbar */
.custom-navbar{
    background-color: var(--main-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.navbar-section-1{
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.navbar-section-2{
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.custom-navbar-logo{
    height: 40px;
}

.custom-navbar-link{
    color: white;
    font-size: 16px;
    font-family: var(--text-font);
    margin: 0px 0px 0px 20px;
    border-left: 2px solid white;
    padding-left: 20px;
}

/* Section 1 */
.custom-container-section-1{
    margin: 80px 60px;
}

.title-section-1{
    font-size: 80px;
    font-family: var(--title-font);
    margin: 0px;
}

.quote-style-section-1{
    position: absolute;
    font-size: 35px;
    color: var(--main-color);
    top: -25px;
    left: -35px;
    transform: rotate(20deg);
}

.quote-paragraph-section-1{
    position: relative;
    font-size: 18px;
    margin: 0px 20px;
    font-family: var(--text-font);
    font-weight: 400;
    color: rgb(108, 117, 126);
}

.secondary-paragraph-section-1{
    margin: 40px 20px 0px 20px;
}

.secondary-title-paragraph-section-1{
    font-family: var(--text-font);
    font-weight: 800;
    font-size: 18px;
    color: var(--main-color);
    margin: 0px;
}

.secondary-subtitle-paragraph-section-1{
    font-family: var(--text-font);
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
}

/* Section 2 */
.custom-container-section-2{
    background-image: url(./media/power-plant-4712830_1280.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
}

.bg-filter-section-2{
    height: 100%;
    background-color: rgba(6, 57, 108, 0.5);
}

.custom-row-section-2{
    height: 100%;
    padding: 80px 60px;
    margin: 0px !important;
}

.title-section-2{
    font-size: 90px;
    font-family: var(--title-font);
    color: white;
    margin: 20px 0px 0px 0px;
}

.card-section-2{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-card-section-2{
    font-size: 50px;
}

.number-card-section-2{
    font-family: var(--title-font);
    font-weight: 600;
    font-size: 40px;
    margin: 15px 0px 0px 0px;
}

.title-card-section-2{
    font-family: var(--text-font);
    font-weight: 600;
    font-size: 25px;
    margin: 0px;
}

/* Media Query Large Screen "LG" */
@media screen and (max-width: 992px){
    /* Section 1 */
    .secondary-paragraph-section-1{
        margin: 10px 20px 40px 20px;
    }

    /* Section 2 */
    .custom-container-section-2{
        height: 800px;
    }

    .title-section-2{
        text-align: center;
        margin: 0px 0px 30px 0px;
    }

    .card-section-2{
        margin: 30px 0px;
    }
}

/* Media Query Medium Screen "MD" */
@media screen and (max-width: 768px){
    /* Section 1 */
    .custom-navbar{
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar-section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
    }

    .navbar-section-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px 0px 0px 0px;
    }

    .custom-navbar-logo{
        height: 50px;
    }

    .custom-navbar-link{
        border: none;
        margin: 5px 0px;
        padding: 0px;
    }

    /* Section 2 */
    .custom-container-section-2{
        height: 1200px;
    }

    .title-section-2{
        font-size: 60px;
        margin: 0px;
    }
}

/* Media Query Small Screen "SM" */
@media screen and (max-width : 576px){
    /* Section 1 */
    .title-section-1{
        font-size: 45px;
    }

    .quote-paragraph-section-1{
        margin: 30px 0px 20px 0px;
    }

    .secondary-paragraph-section-1{
        margin: 0px 0px 40px 0px;
    }
}